<html>
  <head>
  </head>
  <body>
    <p>
      Hello <%= login %>!
    </p>
    <p>
      Here are the reports we have available for you.<br>
      <a href="/closeout">Closed tickets for milestone</a><br>
      <a href="/patchcand">Patch Candidate tickets</a><br>
      <a href="/testing">Testing tickets</a><br>
    </p>
  </body>
</html>
